#footer {
    padding-top: 5.4px;
    font-size: 23px;
    font-style: italic;
    color: var(--white);
    font-weight: 600;
    text-shadow: 4px 4px 4px rgb(104, 3, 3);

    // transform: scaleX(1.001);
    // transform-origin: left center;
}