.intro-body {  
    max-width: 1200px;
    margin: 10px auto;
    display: flex;

    gap: 20px; 
    align-items: flex-start; 

    background: white;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
    color: var(--black400);
    font-size: 17px;
    font-weight: 400;

    strong {
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    }

    .intro-article {
        flex: 2; 
        min-width: 0; 

        .intro-title {
            font-size: 30px;
            font-weight: 500;
            color: var(--blue);
            margin: 0 0 15px 0;
            text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
        }

        .conclusion {
            padding-top: 10px;
        }
    }

    

    .intro-image {
        flex: 1; 
        width: 400px;
        height: 400px;
        object-fit: cover; 
        border-radius: 20px;
        box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    }

    .youtuber-introimg {
        width: 300px;
        height: 300px;
    }
}
